/* Algemene stijlen */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ffecd2, #fcb69f);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    overflow: hidden; /* Verberg scrollbars */
}

/* Basiscontainer voor beide schermen */
.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease, visibility 0s linear 1.5s;
}

.screen.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s ease, visibility 0s linear 0s;
}

.screen.verborgen {
    opacity: 0;
    visibility: hidden;
}

/* Kluisafbeelding */
.kluis-afbeelding {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    display: block;
}

/* Wachtwoord container */
.wachtwoord-container {
    margin-top: 20px;
}

input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    background: #f76c6c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #f54343;
}

/* Geheime afbeelding */
.geheim-afbeelding {
    width: 70%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
}

/* Geheime tekst */
#secretText {
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 1.5;
    color: #555;
    text-align: center;
}

#secretText strong {
    color: #333;
}

#secretText em {
    color: #f76c6c;
    font-style: italic;
}
